
/* ------ global style -------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    color: black;
}

/* ------ global style end -------- */



/* -------- shared style --------- */

.container{
    width: 100vw;
    margin: 0 auto;            
}

.btn{
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 600;
}


/* -------- shared style end --------- */




/* ---- header style----- */

#headerSection{
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;        
}

/* ---- header style end ----- */



/* ------ story section card style ------- */


#storySection{
    width: 100vw;
    height: 100%;
    background: linear-gradient(rgba(228, 210, 210, 0.1),rgba(61, 19, 19, 0.4)), url('assets/bg.png');
    background-position: center;        
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
}


.storyContainer h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 60px 0 80px;

}

.storyCardParent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.storyCardLeft{
    width: 100%;
    max-width: 850px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.storyCardLeft:hover{
    transform: scale(101%);
}


.storyCardRight{
    width: 100%;
}


.storySingleCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 100%;
    

}

.storyCardImageDiv{
    width: 100%;
}

.storyCardImageDiv img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.storyCardTextDiv{
    padding: 30px;
    margin-top: -5px;
    background-color: #ffffff;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
}

.storyCardTextDiv h5{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    margin: 20px 0;
}

.storyCardTextDiv p{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    color: #666666;
    padding: 20px 0;
}

.storyCardTextDiv button{
    padding: 12px 20px;
    border-radius: 47px;
    background-color: #3CD8E8;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 30px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;  
    
}


.storyCardTextDiv button:hover{
    transform: scale(105%);
}



.miniCardTextDiv h5{
    font-size: 0.9rem;
    margin: 8px 0;
}

.singleMiniCard{
    max-width: 450px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.singleMiniCard:hover{
    transform: scale(102%);
}

.miniCardTextDiv button{
    padding: 9px 16px;
    border-radius: 44px;
    font-size: 0.7rem;
    font-weight: 400;

}

.storyCardRight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.storyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.storyButton button{
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px 55px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;

}


.storyButton button:hover{
    transform: scale(105%);    

 }


/* ------ story section card style end ------- */














/*---------------- media query ------------------*/



/*-------------- mobile device ----------------*/

@media (max-width: 390px) {

    .container{
        padding: 0 7vw;        
    }

    /* -------- navbar section --------- */

    nav{
        border: 1px solid #fea301;
    }
    
    .navContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    
    .navLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 20px 0;
    }


    .navLogo img{
        width: 46px;
        height: 46px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        
    }

    .navLogo img:hover{
        transform: scale(105%);
    }

  
    
    .hamburgerIcon{
        display: block;
    }

    
    .hamburgerIcon .fa-bars{
        font-size: 40px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }

    
    .hamburgerIcon:hover .fa-bars{
        transform: scale(105%);
    }
    

    .navLogo p{
        display: none;
    }

    .navLinks{
        display: none;
    }
  
    .navButton{
        display: none;
    }
   
 /* -------- navbar section end --------- */


 
/* -------- banner section start --------- */

     
#headerSection{
    width: 100vw;
    height: 100%;
    background-color: #f7f7f7;        
}

     .bannerContainer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
     }

     .bannerText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .bannerText h2{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 16px;
        text-align: center;
     }


     
    .bannerText button{
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
        padding: 10px 25px;
        background-color: #000000;
        transition: all 0.3s ease-in-out;

    }


    .bannerText button:hover{
        transform: scale(105%);
        
 
     }


    .bannerText p{
        font-size: 0.8rem;
        font-weight: 300;
        margin: 24px 0;
        text-align: center;
    }

    .bannerImg img{
        width: 280px;
        
    }

     /* -------- banner section end --------- */


          
/* ---- curriculum section ----- */

#curriculumSection{
    width: 100vw;
    height: 100%;
    background-color: #f7f7f7;
    background-image: url('assets/bg.png');
    background-position: center;        
    background-size: cover;
    background-repeat: no-repeat;
}


.cardParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.curriculumContainer h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 60px 0 80px;
}

.singleCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: 410px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0 rgba(-0, -0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}


.singleCard:hover{

    transform: scale(102%);
    
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 1px rgba(-0, -0, 0, 0.1);

}

.cardImageDiv{

    margin: 40px 20px;
}


.cardImageDiv img{
   width: 136px; 
   height: 136px;
   
}

.cardTextDiv{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.cardTextDiv h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0 30px;
}

.cardTextDiv p{

    font-size: 0.9rem;
    font-weight: 500;
    color: #464444;
    margin: 0 0 50px;
    text-align: center;

}

.cardTextDiv button{
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.cardTextDiv button:hover{
    transform: scale(105%);
}


.navigationBtn{
    display: none;
    
}


/* ---- curriculum section end ----- */



/* ------ story section card style ------- */


#storySection{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 210, 210, 0.1),rgba(61, 19, 19, 0.4)), url('assets/bg.png');
    background-position: center;        
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
}

.storyContainer{
    width: 100%;
}

.storyContainer h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 60px 0 80px;

}


.storyCardLeft{
    display: none;

}

.storyCardParent{
    width: 100%;
    min-width: 450px;
}

.storyCardRight{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    max-width: unset;

}


.singleMiniCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    max-width: unset;
    width: 100%;
   

}

.miniCardImageDiv{
    width: 100%;
}

.miniCardImageDiv img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.miniCardTextDiv{
    padding: 20px;
    margin-top: -5px;
    background-color: #ffffff;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
}

.miniCardTextDiv h5{
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    margin: 20px 0;
}


.miniCardTextDiv button{
    padding: 6px 10px;
    border-radius: 40px;
    background-color: #3CD8E8;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0.5rem;
    font-weight: 400;
    top: 0;
    left: 10px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;  
    
}


.miniCardTextDiv button:hover{
    transform: scale(105%);
}



.miniCardTextDiv h5{
    font-size: 0.9rem;
    margin: 8px 0;
}

.singleMiniCard{
    max-width: 450px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.singleMiniCard:hover{
    transform: scale(102%);
}

.miniCardTextDiv button{
    padding: 9px 16px;
    border-radius: 44px;
    font-size: 0.7rem;
    font-weight: 400;

}

.storyCardRight{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.storyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.storyButton button{
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px 55px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;

}


.storyButton button:hover{
    transform: scale(105%);    

 }


/* ------ story section card style end ------- */








}
  
  


@media (min-width: 391px) {
    .container{
        padding: 0 6vw;        
    }

     /* -------- navbar section --------- */

    nav{
        border: 1px solid #fea301;
    }
    
    .navContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    
    .navLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 20px 0;
    }


    .navLogo img{
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        
    }

    .navLogo img:hover{
        transform: scale(105%);
    }

    

    
    .hamburgerIcon{
        display: block;
        
    }

    .hamburgerIcon .fa-bars{
        font-size: 40px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }


    .hamburgerIcon:hover .fa-bars{
        transform: scale(105%);
    }



    .navLogo p{
        display: none;
    }

    .navLinks{
        display: none;
    }
  
    .navButton{
        display: none;
    }
    
     /* -------- navbar section end --------- */


     /* -------- banner section start --------- */

     
#headerSection{
    width: 100vw;
    height: 100%;
    background-color: #f7f7f7;        
}

     .bannerContainer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
     }

     .bannerText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .bannerText h2{
        font-size: 2.6rem;
        font-weight: 700;
        margin-top: 16px;
        text-align: center;
     }


     
    .bannerText button{
        font-size: 20px;
        font-weight: 700;
        border-radius: 10px;
        padding: 10px 25px;
        background-color: #000000;
        
        transition: all 0.3s ease-in-out;

    }


    .bannerText button:hover{
        transform: scale(105%);
        
 
     }


    .bannerText p{
        font-size: 1rem;
        font-weight: 300;
        margin: 24px 0;
        text-align: center;
    }

    .bannerImg img{
        width: 420px;
        
    }

     /* -------- banner section end --------- */


     
/* ---- curriculum section ----- */

#curriculumSection{
    width: 100vw;
    height: 100%;
    background-color: #f7f7f7;
    background-image: url('assets/bg.png');
    background-position: center;        
    background-size: cover;
    background-repeat: no-repeat;
}


.cardParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.curriculumContainer h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 60px 0 80px;
}

.singleCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: 410px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0 rgba(-0, -0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}


.singleCard:hover{

    transform: scale(102%);
    
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 1px rgba(-0, -0, 0, 0.1);

}

.cardImageDiv{

    margin: 40px 20px;
}


.cardImageDiv img{
   width: 136px; 
   height: 136px;
   
}

.cardTextDiv{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.cardTextDiv h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0 30px;
}

.cardTextDiv p{

    font-size: 0.9rem;
    font-weight: 500;
    color: #464444;
    margin: 0 0 50px;
    text-align: center;

}

.cardTextDiv button{
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.cardTextDiv button:hover{
    transform: scale(105%);
}


.navigationBtn{
    display: none;
    
}


/* ---- curriculum section end ----- */



/* ------ story section card style ------- */


#storySection{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 210, 210, 0.1),rgba(61, 19, 19, 0.4)), url('assets/bg.png');
    background-position: center;        
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
}

.storyContainer{
    width: 100%;
}

.storyContainer h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 60px 0 80px;

}


.storyCardLeft{
    display: none;

}

.storyCardParent{
    width: 100%;
    min-width: 950px;
}

.storyCardRight{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    max-width: unset;

}


.singleMiniCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    max-width: unset;
    width: 100%;
   

}

.miniCardImageDiv{
    width: 100%;
}

.miniCardImageDiv img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.miniCardTextDiv{
    padding: 20px;
    margin-top: -5px;
    background-color: #ffffff;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
}

.miniCardTextDiv h5{
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    margin: 20px 0;
}


.miniCardTextDiv button{
    padding: 6px 10px;
    border-radius: 40px;
    background-color: #3CD8E8;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0.5rem;
    font-weight: 400;
    top: 0;
    left: 10px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;  
    
}


.miniCardTextDiv button:hover{
    transform: scale(105%);
}



.miniCardTextDiv h5{
    font-size: 0.9rem;
    margin: 8px 0;
}

.singleMiniCard{
    max-width: 450px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.singleMiniCard:hover{
    transform: scale(102%);
}

.miniCardTextDiv button{
    padding: 9px 16px;
    border-radius: 44px;
    font-size: 0.7rem;
    font-weight: 400;

}

.storyCardRight{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.storyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.storyButton button{
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px 55px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;

}


.storyButton button:hover{
    transform: scale(105%);    

 }


/* ------ story section card style end ------- */





}


/*-------------- mobile device end ----------------*/


















/*------------ large screen -------------- */

  
@media (min-width: 576px) {
    .container{
        padding: 0 7vw;        
    }

     /* -------- navbar section --------- */

    nav{
        border: none;
    }

    .navContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }


    .navLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 20px 0;
    }


    .navLogo img{
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        
    }

    .navLogo img:hover{
        transform: scale(105%);
    }

    .navLogo p{
        display: block;
        font-size: 1.5rem;
        font-weight: bold;

    }

    .navLinks{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .navLinks li{
        list-style: none;
        transition: all 0.3s ease-in-out;
    }

    .navLinks li a{
        text-decoration: none;
        padding: 0 10px;
        font-size: 12px;
        font-weight: bold;
       
    }


    .navLinks li:hover{
        transform: scale(110%);
    }

    .navButton{
        display: block;
    }

    .navButton button{
        font-size: 12px;
        border-radius: 10px;
        padding: 10px 25px;
        background-color: #fea301;
        transition: all 0.3s ease-in-out;

    }


    .navButton button:hover{
       background-color: #e09108;

    }

    .hamburgerIcon{
        display: none;
    }

     /* -------- navbar section end --------- */
     
     
     
     /* -------- banner section start --------- */

     .bannerContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
     }

     .bannerText h2{
        font-size: 1.5rem;
        font-weight: 700;
     }

     
     
    .bannerText button{
        font-size: 12px;
        font-weight: 700;
        border-radius: 10px;
        padding: 10px 25px;
        background-color: #000000;
        transition: all 0.3s ease-in-out;

    }


    .bannerText button:hover{
        transform: scale(105%);
        
 
     }


    .bannerText p{
        font-size: 0.9rem;
        font-weight: 300;
        margin: 24px 0;
    }

    .bannerImg img{
        width: 300px;
        padding-left: 12px;
    }

     /* -------- banner section end --------- */




/* ---- curriculum section ----- */

#curriculumSection{
    width: 100vw;
    height: 100%;
    background-color: #f7f7f7;
    background-image: url('assets/bg.png');
    background-position: center;        
    background-size: cover;
    background-repeat: no-repeat;
}


.cardParent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.curriculumContainer h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 60px 0 80px;
}

.singleCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: 410px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0 rgba(-0, -0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}


.singleCard:hover{

    transform: scale(102%);
    
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 1px rgba(-0, -0, 0, 0.1);

}

.cardImageDiv{

    margin: 40px 20px;
}


.cardImageDiv img{
   width: 136px; 
   height: 136px;
   
}

.cardTextDiv{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.cardTextDiv h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0 30px;
}

.cardTextDiv p{

    font-size: 0.9rem;
    font-weight: 500;
    color: #464444;
    margin: 0 0 50px;
    text-align: center;

}

.cardTextDiv button{
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.cardTextDiv button:hover{
    transform: scale(105%);
}


.navigationBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 5px;
    font-size: 60px;
    
    
}

.navigationBtn .fa-chevron-circle-left, .fa-chevron-circle-right{
    color: #fea301;
    transition: all 0.3s ease-in-out;

}

.navigationBtn .fa-chevron-circle-left:hover{
    transform: translateX(-5px);
}
.navigationBtn .fa-chevron-circle-right:hover{
    transform: translateX(5px);
}


/* ---- curriculum section end ----- */





/* ------ story section card style ------- */


#storySection{
    width: 100vw;
    height: 100%;
    background: linear-gradient(rgba(228, 210, 210, 0.1),rgba(61, 19, 19, 0.4)), url('assets/bg.png');
    background-position: center;        
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
}


.storyContainer h3{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 50px 0 70px;

}

.storyCardParent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.storyCardLeft{
    display: block;
    width: 100%;
    max-width: 850px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.storyCardLeft:hover{
    transform: scale(101%);
}


.storyCardRight{
    width: 100%;
}


.storySingleCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 100%;
    

}

.storyCardImageDiv{
    width: 100%;
}

.storyCardImageDiv img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.storyCardTextDiv{
    padding: 15px;
    margin-top: -5px;
    background-color: #ffffff;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
}

.storyCardTextDiv h5{
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    margin: 20px 0;
}

.storyCardTextDiv p{
    font-size: 0.7rem;
    font-weight: 400;
    text-align: left;
    color: #666666;
    padding: 15px 0;
}

.storyCardTextDiv button{
    padding: 10px 15px;
    border-radius: 47px;
    background-color: #3CD8E8;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 30px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;  
    
}


.storyCardTextDiv button:hover{
    transform: scale(105%);
}



.miniCardTextDiv h5{
    font-size: 0.5rem;
    margin: 8px 0;
}

.singleMiniCard{
    max-width: 450px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.singleMiniCard:hover{
    transform: scale(102%);
}

.miniCardTextDiv button{
    padding: 5px 8px;
    border-radius: 40px;
    font-size: 0.6rem;
    font-weight: 400;

}

.storyCardRight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.storyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.storyButton button{
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px 55px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;

}


.storyButton button:hover{
    transform: scale(105%);    

 }


/* ------ story section card style end ------- */










  

}








  
@media (min-width: 768px) {
    .container{
        padding: 0 6vw;        
    }

     /* -------- navbar section end --------- */
   
    .navLogo img{
        width: 55px;
        height: 55px;
    }

    .navLogo p{
        font-size: 1.7rem;
        font-weight: bold;

    }

    .navLinks li a{
        font-size: 16px;
        padding: 0 15px;
        
    }

    .navButton button{
        font-size: 16px;
        border-radius: 10px;
        padding: 10px 40px;    

    }

/* -------- navbar section end --------- */


 
/* -------- banner section start --------- */

.bannerText h2{
    font-size: 2rem;        
 }
     
.bannerText button{
    font-size: 16px;
    border-radius: 12px;
    padding: 10px 50px;
}

.bannerText p{
    font-size: 1rem;
    margin: 28px 0;
}

.bannerImg img{
    width: 350px;
}

/* -------- banner section end --------- */


/* ------ story section card style ------- */



.storyContainer h3{
    font-size: 2rem;
    padding: 50px 0 70px;

}


.storyCardTextDiv{
    padding: 15px;
    
}

.storyCardTextDiv h5{
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    margin: 20px 0;
}

.storyCardTextDiv p{
    font-size: 0.7rem;
    font-weight: 400;
    text-align: left;
    color: #666666;
    padding: 10px 0;
}



.miniCardTextDiv h5{
    font-size: 0.6rem;
    margin: 8px 0;
}

.miniCardTextDiv{
    position: relative;

}


.miniCardTextDiv button{
    padding: 5px 8px;
    border-radius: 40px;
    font-size: 0.5rem;
    font-weight: 400;
    position: absolute;
    top: 10px;
    left: 10px;


}

.storyCardRight{
    gap: 10px;

}

.storyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.storyButton button{
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px 45px;
   

}



/* ------ story section card style end ------- */






}







  
@media (min-width: 992px) {
    
    .container{
        padding: 0 4vw;        
    }

 /* -------- navbar section --------- */

    .navLogo img{
        width: 62px;
        height: 62px;
    }

    .navLogo p{
        font-size: 2rem;
        font-weight: bold;

    }

    .navLinks li a{
        font-size: 20px;
        
    }

    .navButton button{
        font-size: 20px;
        border-radius: 12px;
        padding: 10px 60px;
    
    }

 /* -------- navbar section end --------- */


 
/* -------- banner section start --------- */

     .bannerText h2{
        font-size: 3.2rem;        
     }
         
    .bannerText button{
        font-size: 18px;
        border-radius: 12px;
        padding: 10px 50px;
    }

    .bannerText p{
        font-size: 1.1rem;
        margin: 28px 0;
    }

    .bannerImg img{
        width: 380px;
    }

/* -------- banner section end --------- */



/* ------ story section card style ------- */


#storySection{
    width: 100vw;
    height: 100%;
    background: linear-gradient(rgba(228, 210, 210, 0.1),rgba(61, 19, 19, 0.4)), url('assets/bg.png');
    background-position: center;        
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
}


.storyContainer h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 60px 0 80px;

}

.storyCardParent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.storyCardLeft{
    width: 100%;
    max-width: 850px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.storyCardLeft:hover{
    transform: scale(101%);
}


.storyCardRight{
    width: 100%;
}


.storySingleCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 100%;
    

}

.storyCardImageDiv{
    width: 100%;
}

.storyCardImageDiv img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.storyCardTextDiv{
    padding: 30px;
    margin-top: -5px;
    background-color: #ffffff;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
}

.storyCardTextDiv h5{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    margin: 20px 0;
}

.storyCardTextDiv p{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    color: #666666;
    padding: 20px 0;
}

.storyCardTextDiv button{
    padding: 12px 20px;
    border-radius: 47px;
    background-color: #3CD8E8;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 30px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;  
    
}


.storyCardTextDiv button:hover{
    transform: scale(105%);
}



.miniCardTextDiv h5{
    font-size: 0.9rem;
    margin: 8px 0;
}

.singleMiniCard{
    max-width: 450px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.singleMiniCard:hover{
    transform: scale(102%);
}

.miniCardTextDiv button{
    padding: 9px 16px;
    border-radius: 44px;
    font-size: 0.7rem;
    font-weight: 400;

}

.storyCardRight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.storyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.storyButton button{
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px 55px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;

}


.storyButton button:hover{
    transform: scale(105%);    

 }


/* ------ story section card style end ------- */







}
  
